body {
    background: #121a23;
    color: #d2d2d2;
    font-family: "Deja Vu Sans", Sans-Serif;
    font-weight: normal;
    font-size: 12pt;
    line-height: 1.5em;
    margin: 0 auto;
    width: 60%;
    min-width: 700px;
}

h1{
    font-size: 24pt;
    text-align: center;
    background-color: #233141;
    border-radius:15px;
    padding: 20px 40px 20px 40px;
    line-height: normal;
}

h2 {
    font-size: 20pt;
    line-height: normal;
}

h3{
    font-size: 16pt;
    line-height: normal;
}

h4{
    font-size: 14pt;
    line-height: normal;
}

#content {
    background-color: #121a23;
    color: #d2d2d2;
    margin: 30px 0 20px 0;
    text-align: justify;
    padding: 1px 40px 20px 40px;
    border-right:  4px solid  #233141;
    border-left:  4px solid  #233141;
    font-size: 12pt;
}

#menu {
    background-color: #121a23;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    margin: 10px 0 10px 0;
    overflow: hidden;
    width: 100%;
}

#menu ul {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    font-weight: bold;
    color: #888;
}

#menu ul li {
    display: inline-block;
    list-style-type: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#menu > ul > li > a > .caret,
#menu > ul > li > div ul > li > a > .caret {
    border-top: 4px solid #aaa;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    vertical-align: middle;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
}

#menu > ul > li > div ul > li > a > .caret {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-left: 4px solid #f2f2f2;
    margin: 0 0 0 8px;
}

#menu > ul > li > a {
    color: #aaa;
    display: block;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
}

#menu > ul > li:hover {
    background-color: #2c3e52;
}

#menu > ul > li:hover > a {
    color: rgb( 255, 255, 255 );
}

#menu > ul > li:hover > a > .caret {
    border-top-color: rgb( 255, 255, 255 );
}

#menu > ul > li > div ul > li:hover > a > .caret {
    border-left-color: rgb(255,255,255);
}

#menu > ul > li > div,
#menu > ul > li > div ul > li > div {
    background-color: #121a23;
    border-top: 0;
    border: 1px solid #dedede;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    display: none;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 170px;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

#menu > ul > li > div ul > li > div {
    background-color: #121a23;
    border-radius: 0 4px 4px 4px;
    box-shadow: inset 2px 0 5px rgba(0,0,0,.15);
    width: 300px;
    margin-top: -50px;
    right: -303px;
}

#menu > ul > li > div ul > li > div ul > li > div {
    background-color: #121a23;
    border-radius: 0 4px 4px 4px;
    box-shadow: inset 2px 0 5px rgba(0,0,0,.15);
    width: 400px;
    margin-top: -50px;
    right: -403px;
}

#menu > ul > li:hover > div,
#menu > ul > li > div ul > li:hover > div {
    display: block;
    opacity: 1;
    visibility: visible;
}

#menu > ul > li > div ul > li,
#menu > ul > li > div ul > li > div ul > li {
    display: block;
    position: relative;
}

#menu > ul > li > div ul > li > div ul > li > div ul > li>{
    width: 300px;
}
#menu > ul > li > div ul > li > div ul > li > div ul > li a {
    width: 350px;
}

#menu > ul > li > div ul > li > a,
#menu > ul > li > div ul > li > div ul > li > a {
    color: #fff;
    display: block;
    padding: 12px 25px;
    text-decoration: none;
}

#menu > ul > li > div ul > li:hover > a {
    background-color: #2c3e52;
}


.gotoTOP{
    background-color: white;
    color: black;
    right: 0px;
    bottom: 10px;
    position:fixed;
    height:20px;
}


#table-of-contents {
    background-color: #121a23;
    margin: 10px 10px 10px 10px;
    border: 1px solid #dedede;
    color: #888;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    font-weight: bold;
    font-size: 12pt;
    padding: 0 10px;
    position: fixed;
    right: 0;
    top: 0;
    text-align: right;
    max-width: 20%;
}

#table-of-contents h2{
    font-size:14pt;
    padding-top: 5px;
    line-height: 1em;
}

/* Toggle TOC when hovered. */
#table-of-contents ul {
    display: none;
}

#table-of-contents:hover {
    background-color: #2c3e52;
    color: white;
}

#table-of-contents:hover ul {
    display: block;
}

/* Indent sublists. */
#table-of-contents ul {
    text-align: left;
    padding: 0;
}

#table-of-contents ul li ul   {
    font-size:10pt;
    padding: 2px 0 2px 10px;
}

#table-of-contents ul li ul li  {
    font-size:10pt;
    padding: 2px 0 2px 10px;
}

/* Remove list dot. */
#table-of-contents ul li  {
    display: block;
}

/* Remove deeply nested TOC, mostly for power-apps */
#table-of-contents ul li ul li ul li ul li  {
    display: none;
}

#table-of-contents a {
    color: white;
    text-decoration: none;
    white-space: wrap;
}

#table-of-contents a:hover {
    color: #329FD6;
}

.ticket{
    border: solid 0.5px white;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: #233141;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.date{
    text-align: right;
    font-size: 10pt;
}

.org-src-container{
    background: black;
    display: inline-block;
    font-family: monospace;
    font-size: 12px;
    line-height: 1.2em;
    margin: 10px 20px 10px 0;
    min-width: calc(100% - 20px); /* -20px for padding */
    padding: 10px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}


code{
    background-color:#2c3e52;
    border-radius: 0.5em;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    font-family:monospace;
}

pre {tab-size: 3;}


a {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: #329FD6;
    text-decoration: underline;
}


#search-bar {
    position:fixed;
    left: 0;
    top: 0;
    width: 10%;
    margin-top: 10px;
    margin-left: 20px;
    height: 30px;
    border-radius: 4px;
    background-image: url('search.png');
    background-position: 10px 12px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-color: #121a23;
    color: #d2d2d2;
    font-size: 12pt;
    padding: 12px 20px 12px 50px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}


#postamble{
    border-top: solid 4px  #2c3e52;
    border-bottom: solid 4px  #2c3e52;
    margin-top: 0px;
    margin-bottom: 100px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #121a23;
    color: #d2d2d2;
}

.credits{
    padding-left: 50px;
    font-size: 12pt;
    margin-bottom: 50px;
}

.fs_keyword{
    font-size: 8pt;
}
